# Operators and Expressions in Python

## Libraries and settings

In [1]:
# Libraries
import os
import numpy as np
import pandas as pd
from tabulate import tabulate
from kaggle.api.kaggle_api_extended import KaggleApi

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Show current working directory
print(os.getcwd())

u:\Lektionen\Scientific_Programming_FS2023\scientific_programming\Week_02\exercises

## Get data from Kaggle via Kaggle's Web API

In [2]:
# Initialize API
api = KaggleApi()
api.authenticate()

# Download file
api.dataset_download_file('vittoriogiatti/bigmacprice','BigmacPrice.csv')

# Read data to pandas data frame
df = pd.read_csv('BigmacPrice.csv', sep=',')
df

,date,currency_code,name,local_price,dollar_ex,dollar_price
0,2000-04-01,ARS,Argentina,2.50,1,2.50
1,2000-04-01,AUD,Australia,2.59,1,2.59
2,2000-04-01,BRL,Brazil,2.95,1,2.95
3,2000-04-01,GBP,Britain,1.90,1,1.90
4,2000-04-01,CAD,Canada,2.85,1,2.85
...,...,...,...,...,...,...
1941,2022-07-01,AED,United Arab Emirates,18.00,3,6.00
1942,2022-07-01,USD,United States,5.15,1,5.15
1943,2022-07-01,UYU,Uruguay,255.00,41,6.22
1944,2022-07-01,VES,Venezuela,10.00,5,2.00
1945,2022-07-01,VND,Vietnam,69000.00,23417,2.95

## Use Python operators and expressions to create subsets of the data

### Subset based on date & dollar price

In [3]:
# Countries with lower Big Mac prices
df_sub_01 = df.loc[(df['date'] == '2022-07-01') & (df['dollar_price'] <= 2.00)]
print('\nCountries with lower Big Mac prices\n')
print(tabulate(df_sub_01, headers=list(df_sub_01.columns)))

# Countries with higher Big Mac prices
df_sub_02 = df.loc[(df['date'] == '2022-07-01') & (df['dollar_price'] >= 6.00)]
print('\nCountries with higher Big Mac prices\n',)
print(tabulate(df_sub_02, headers=list(df_sub_02.columns)))

Countries with lower Big Mac prices

      date        currency_code    name         local_price    dollar_ex    dollar_price
----  ----------  ---------------  ---------  -------------  -----------  --------------
1880  2022-07-01  BHD              Bahrain             1.6             1            1.6
1909  2022-07-01  KWD              Kuwait              1.3             1            1.3
1920  2022-07-01  OMR              Oman                1.42            1            1.42
1944  2022-07-01  VES              Venezuela          10               5            2

Countries with higher Big Mac prices

      date        currency_code    name                    local_price    dollar_ex    dollar_price
----  ----------  ---------------  --------------------  -------------  -----------  --------------
1877  2022-07-01  AUD              Australia                      6.7             1            6.7
1884  2022-07-01  CAD              Canada                         6.77            1            6.77
1917  2022-07-01  NZD              New Zealand                    7.1             1            7.1
1919  2022-07-01  NOK              Norway                        62               9            6.89
1937  2022-07-01  CHF              Switzerland                    6.5             1            6.5
1941  2022-07-01  AED              United Arab Emirates          18               3            6
1943  2022-07-01  UYU              Uruguay                      255              41            6.22

### Subset based on country

In [4]:
# Look at the inflation indicated by the development of 'local_price'
df_sub_03 = df.loc[(df['name'] == 'Venezuela')]
df_sub_03

,date,currency_code,name,local_price,dollar_ex,dollar_price
88,2002-04-01,VEF,Venezuela,2500.00,857,2.92
120,2003-04-01,VEF,Venezuela,3700.00,1598,2.32
160,2004-05-01,VEF,Venezuela,4400.00,2977,1.48
201,2005-06-01,VEF,Venezuela,5600.00,2629,2.13
233,2006-01-01,VEF,Venezuela,5900.00,2615,2.26
274,2006-05-01,VEF,Venezuela,5701.25,2519,2.26
315,2007-01-01,VEF,Venezuela,6800.00,4125,1.65
356,2007-06-01,VEF,Venezuela,7400.00,2147,3.45
574,2011-07-01,VEF,Venezuela,28.00,4,7.00
629,2012-01-01,VEF,Venezuela,30.00,4,7.50
682,2012-07-01,VEF,Venezuela,34.00,4,8.50
737,2013-01-01,VEF,Venezuela,39.00,4,9.75
792,2013-07-01,VEF,Venezuela,45.00,6,7.50
848,2014-01-01,VEF,Venezuela,45.00,6,7.50
904,2014-07-01,VEF,Venezuela,75.00,11,6.82
960,2015-01-01,VEF,Venezuela,132.00,52,2.54
1016,2015-07-01,VEF,Venezuela,132.00,197,0.67
1072,2016-01-01,VEF,Venezuela,132.00,198,0.67
1128,2016-07-01,VEF,Venezuela,2170.00,641,3.39
1184,2017-01-01,VEF,Venezuela,3550.00,676,5.25
1240,2017-07-01,VEF,Venezuela,10950.00,2700,4.06
1296,2018-01-01,VEF,Venezuela,0.00,1,0.00
1801,2021-07-01,VES,Venezuela,16020000.00,3613989,4.43
1874,2022-01-01,VES,Venezuela,23.00,4,5.75
1944,2022-07-01,VES,Venezuela,10.00,5,2.00

### Subset based on multiple variables and operators

In [5]:
# Note the operators here: == (is equal to), & (and), | (OR)
df_sub_04 = df.loc[(df['date'] == '2022-07-01') & ((df['name'] == 'Switzerland') | (df['dollar_price'] >= 6.80))]
df_sub_04

,date,currency_code,name,local_price,dollar_ex,dollar_price
1917,2022-07-01,NZD,New Zealand,7.1,1,7.10
1919,2022-07-01,NOK,Norway,62.0,9,6.89
1937,2022-07-01,CHF,Switzerland,6.5,1,6.50

## Use Python operators and expressions to create new variables

### Create a new variable 'dollar_price_category' based on the dollar price

In [6]:
# Here, pandas apply() method is used in combination with the lambda function (we will come back to this later in the module)
df['dollar_price_category'] = df['dollar_price'].apply(lambda x: 'higher price' if x >= 5.00 else 'lower price')
df

,date,currency_code,name,local_price,dollar_ex,dollar_price,dollar_price_category
0,2000-04-01,ARS,Argentina,2.50,1,2.50,lower price
1,2000-04-01,AUD,Australia,2.59,1,2.59,lower price
2,2000-04-01,BRL,Brazil,2.95,1,2.95,lower price
3,2000-04-01,GBP,Britain,1.90,1,1.90,lower price
4,2000-04-01,CAD,Canada,2.85,1,2.85,lower price
...,...,...,...,...,...,...,...
1941,2022-07-01,AED,United Arab Emirates,18.00,3,6.00,higher price
1942,2022-07-01,USD,United States,5.15,1,5.15,higher price
1943,2022-07-01,UYU,Uruguay,255.00,41,6.22,higher price
1944,2022-07-01,VES,Venezuela,10.00,5,2.00,lower price
1945,2022-07-01,VND,Vietnam,69000.00,23417,2.95,lower price

### Create a pivot table with the new variable 'dollar_price_category'

In [7]:
# Subset only the lates prices
df_sub_05 = df.loc[(df['date'] == '2022-07-01')]

# Create pivot table with mean prices
table = pd.pivot_table(df_sub_05[['name', 'dollar_price', 'dollar_price_category']],
                       index=['dollar_price_category', 'name'],
                       values=['dollar_price'],
                       aggfunc=np.mean)
print(table)

                                 dollar_price
dollar_price_category name
higher price          Australia          6.70
                      Canada             6.77
                      Finland            5.25
                      Ireland            5.00
                      Israel             5.67
...                                       ...
lower price           Taiwan             2.59
                      Thailand           3.56
                      Turkey             2.76
                      Venezuela          2.00
                      Vietnam            2.95

[70 rows x 1 columns]

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [8]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
NT
Windows | 10
Datetime: 2023-03-01 17:21:47
Python Version: 3.10.9
-----------------------------------